{% extends 'main.html' %}

{% block content %}
    <div class="main-page">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>Здесь вы можете найти множество вакансий по различным категориям.</p>
        <div class="search-bar">
            <form method="get" action="{% url 'job_search' %}">
                <input type="text" name="title" placeholder="Название профессии" value="{{ title }}">
                <input type="number" name="min_salary" placeholder="Минимальная зарплата" value="{{ min_salary }}">
                <input type="text" name="city" placeholder="Город" value="{{ city }}">
                
                <div class="work-days">
                    <label>Дни, в которые вы готовы работать:</label><br>
                    <label><input type="checkbox" name="available_days" value="ПН"> Понедельник</label><br>
                    <label><input type="checkbox" name="available_days" value="ВТ"> Вторник</label><br>
                    <label><input type="checkbox" name="available_days" value="СР"> Среда</label><br>
                    <label><input type="checkbox" name="available_days" value="ЧТ"> Четверг</label><br>
                    <label><input type="checkbox" name="available_days" value="ПТ"> Пятница</label><br>
                    <label><input type="checkbox" name="available_days" value="СБ"> Суббота</label><br>
                    <label><input type="checkbox" name="available_days" value="ВС"> Воскресенье</label><br>
                </div>
        
                <div class="work-hours">
                    <label>Максимальная длительность смены (часов):</label>
                    <input type="number" name="max_hours" value="{{ max_hours }}" min="1" max="24">
                </div>
        
                <button type="submit">Поиск</button>
            </form>
        </div>
    </div>
{% endblock %}